<div class="debate-form row">
  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h1><%= t("conversations.new.start_new") %></h1>
    <%= render "form", url: conversations_path %>
  </div>
</div>
