<div class="debate-form row">
  <div class="small-12 medium-9 column">
    <%= render "shared/back_link" %>

    <h1><%= t("conversations.new.start_new") %></h1>
    <%= render "form" %>
  </div>
</div>
